author_profile: false or true
### reversed
{% for post in site.talks %}
  {% include archive-single-talk.html %}
{% endfor %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
collections:
  people:
    output: true
    permalink: /:collection/:path/
 
defaults:
  # _people
  - scope:
      path: ""
      type: people
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
